.gallery-container {
  :global(.image-gallery-image) {
    border-radius: 4px;
    width: 460px;
    aspect-ratio: 23/15;
    object-fit: contain;
  }
  :global(.image-gallery-thumbnail:hover) {
    border: none;
  }
  :global(.image-gallery-thumbnail.active) {
    border-radius: 4px;
    border: none;
    :global(.image-gallery-thumbnail-image) {
      border: 3px solid var(--primary-color);
    }
  }
  :global(.image-gallery-thumbnail-image) {
    border-radius: 4px;
    width: 95px;
    aspect-ratio: 95/57;
    object-fit: contain;
  }
  .chevron-right {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
  }
  .chevron-left {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
  }
}
