.menu-item-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  &.active {
    color: var(--primary-color);
  }
  .menu-label {
    opacity: 0;
    max-width: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
  }
  &:hover {
    gap: 7px;
    .menu-label {
      opacity: 1;
      max-width: 200px;
    }
  }
}
