.login-container {
  width: 400px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px var(--dark-10);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: #ffffffc6;
  .title {
    font-size: 26px;
    font-weight: 600;
  }
  .login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .sub-action-section {
      display: flex;
      justify-content: space-between;
      .link {
        display: flex;
        gap: 3px;
      }
    }
  }
}
