.checkbox-container {
  display: flex;
  gap: 5px;
  .checkbox {
    width: fit-content;
    padding: 0;
  }
  label {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
