@mixin white-card {
  background-color: var(--light);
  padding: 20px;
  border-radius: 4px;
}

.product-status-chart {
  @include white-card;
  .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px !important;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
