.product-management-container {
  .action-section {
    background-color: var(--light);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    .search-field-group {
      display: flex;
      gap: 10px;
      .search-field {
        width: 250px;
      }
    }
  }
  .trash-bin {
    color: var(--error-primary);
    cursor: pointer;
  }
}

.add-product-dialog {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .form-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px 20px;
  }
  .dynamic-form {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .title {
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 10px;
      .icon {
        cursor: pointer;
      }
    }
    .image-list {
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 10px 20px;
    }
  }
}
