.produc-detail-container {
  .product-detail {
    display: flex;
    gap: 20px;
    margin-top: 15px;
    .image-section {
      width: 45%;
    }
    .product-info {
      width: 55%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .product-name {
        font-size: 20px;
        font-weight: 500;
      }
      .cost {
        font-weight: 600;
        font-size: 26px;
      }
      .model-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .model-item {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .model-name {
            font-size: 16px;
            font-weight: 500;
          }
          .model-badge-list {
            display: flex;
            gap: 7px;
            .model-badge-item {
              display: inline-block;
              border: 1px solid var(--dark);
              padding: 2px 5px;
              border-radius: 4px;
              cursor: pointer;
              transition: all 0.2s ease;
              &:hover {
                background-color: var(--dark);
                color: var(--light);
              }
            }
            .badge-active {
              background-color: var(--dark);
              color: var(--light);
            }
          }
        }
      }
      .group-button {
        display: flex;
        gap: 10px;
      }
    }
  }
}
