.navbar-container {
  height: 60px;
  width: 100%;
  margin: 0 auto;
  background: transparent;
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 20px;
  .navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    padding: 10px 16px;
    background: #ffffffd6;
    &.navbar-authenticated {
      box-shadow: 0 2px 4px 2px var(--shadow-primary);
    }
  }
  .left-side {
    display: flex;
    align-items: center;
    gap: 10px;
    .logo {
      padding: 2px 5px;
      color: var(--primary-color);
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid var(--primary-color);
      border-radius: 4px;
      cursor: default;
      font-weight: 600;
    }
    .role {
      padding: 2px 5px;
      height: 35px;
      display: flex;
      align-items: center;
      font-weight: 600;
      border-radius: 4px;
      border-width: 2px;
      border-style: solid;
      &.admin {
        border-color: var(--warn-color);
        color: var(--warn-color);
      }
      &.vendor {
        border-color: var(--success-color);
        color: var(--success-color);
      }
    }
    .menu-list {
      list-style-type: none;
      display: flex;
      align-items: center;
      gap: 8px;
      li {
        padding: 2px 5px;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
          background-color: #000;
          color: #fff;
          transition: all ease 0.5s;
        }
      }
    }
  }
  .right-side {
    display: flex;
    align-items: center;
    gap: 10px;
    .page-icon-group {
      display: flex;
      align-items: center;
      gap: 15px;
      .menu-item-wrap {
        position: relative;
        .counter {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--error-primary);
          width: 18px;
          height: 18px;
          font-size: 13px;
          color: var(--light);
          border-radius: 18px;
          position: absolute;
          top: -10px;
          right: -10px;
        }
      }
    }
    svg {
      cursor: pointer;
    }
  }
}
