.navlink {
  color: #4a70a9;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.navlink-danger {
  color: var(--error-primary);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}