@use "./_component";
@use "./_font";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

:root {
  --light: #fff;
  --dark: #000;
  --dark-10: #0000001a;
  --general-font-size: 15px;
  --background: #ffffff;
  --foreground: #171717;
  --shadow-primary: #a7a7a7;
  --input-border-primary: #0000003b;
  --input-border-hover: #8f8f8f;
  --input-border-focus: #646464;
  --error-primary: #f72525;
  --primary-color: #80a1ba;
  --secondary-color: #e0c2ff;
  --warn-color: #ff6600;
  --info-color: #239ba7;
  --success-color: #41a67e;
}

body,
#root {
  min-height: 100vh;
  p {
    margin: 0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
