.product-list-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .navigate-header {
    background-color: var(--light);
    border-radius: 4px;
    padding: 10px 20px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
      list-style-type: none;
      display: flex;
      gap: 10px;
      align-items: center;
      li {
        cursor: pointer;
        transition: all 0.2s ease;
        font-size: 16px;
        padding: 5px 10px;
        border-radius: 4px;

        &:hover {
          color: var(--primary-color);
          outline: 1px solid var(--primary-color);
        }
      }
    }
    .search-input {
      max-width: 200px;
    }
  }
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    .product-card {
      background-color: var(--light);
      border-radius: 4px;
      padding: 15px;
      // height: 450px;
      transition: all 0.3s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      &:hover {
        box-shadow: 0 2px 5px 2px var(--shadow-primary);
      }
      .product-img {
        width: 100%;
        max-width: 200px;
        aspect-ratio: 1 / 1;
        cursor: pointer;
      }
      .product-info {
        width: 100%;
        height: 100%;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .product-name {
          font-size: 16px;
          font-weight: 500;
          margin: 10px 0;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          cursor: pointer;
        }
        .product-cost {
          .product-cost-base {
            font-size: 14px;
            text-decoration: line-through;
          }
          .product-cost-sale-off {
            font-size: 18px;
            font-weight: 600;
            color: var(--warn-color);
          }
        }
        .info-badge {
          display: flex;
          gap: 5px;
          .badge {
            font-size: 13px;
            padding: 2px 5px;
            border: 1px solid var(--input-border-hover);
            border-radius: 4px;
          }
        }
        .card-footer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .rating {
            display: flex;
            align-items: center;
            gap: 3px;
            .rating-count {
              font-size: 18px;
              font-weight: 500;
            }
            .rating-icon {
              color: var(--warn-color);
              fill: currentColor;
            }
          }
          .favourite {
            display: flex;
            align-items: center;
            font-size: 16px;
            gap: 3px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
